[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/backend/libtorrent_backend/vcpkg"]
	path = src/backend/libtorrent_backend/vcpkg
	url = https://github.com/microsoft/vcpkg.git
